<div class="list-group" *ngIf="movie.name !='' && !isFetching">
    <div id="loginScreen" class="container-fluid">
        <div style="padding:20%;padding-top: 100px;">
            <div class="row" style="background-color: #0b151d;">
                <div class="col-lg-3" style="padding:20px 20px" align="center" >
                    <img src="{{ movie.imagePath }}" class="card-img-top" style="border-radius: 5px">
                    <h2 style="font-weight: bolder;color: white;margin: 10px;text-align: center;margin-bottom: 5px;">{{movie.name}}</h2>
                    <h3 style="color: white;margin: 0;opacity: 0.7;">{{movie.year}}</h3>
                </div>
                <div class="col-lg-9" style="background-color: #2a3740;padding: 15px 15px;color: #020508;font-size: 20px;">
                    <p style="font-weight: bold;color: #2fd297;"><i style='font-size:20px;margin-right: 10px;' class='fas'>&#xf017;</i>{{ movie.duration }} phút</p>
                    <h2 style="margin-bottom: 5px;">Nội dung phim:</h2>
                    <p style="margin-top: 0;">{{ movie.description }}</p>
                    <p style="font-weight: bolder;">Quốc gia <span style="color: #f4b153">{{ movie.nation }}</span></p>
                    <p style="font-weight: bolder;">Thể loại phim <span style="color: #f39f29">{{movie.category}}</span></p>
                </div>
            </div>
            <button (click)="onCancel()" class="cancel">Đóng</button>
        </div>
        
    </div>