#loginScreen
    {
      height:100%;
      width:100%;
      position:fixed;
      z-index:10;
      left: 0;
      top: 0;
      background-color:#060d12;   
    }
.cancel
    {
      display:block;
      position:absolute;
      top:10px;
      right:15px;
      border:1px solid #5c6973;
      padding: 4px 10px;
      background:#060d12;
      border-radius: 5px;
      color:#5c6973;
      font-size:14px;
      text-decoration:none;
      text-align:center;
    }
.detail{
    background-color: #0e1c27;
    padding: 15px;
    border-radius:15px;
    border:3px solid #acd6d9;

}
.name{
    color:#cae7e9;
    font-size:35px;
    margin:0px;
    padding:0px;
    font-family: 'Francois One', sans-serif;
}
.item{
    margin-top: 25px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0f151a;
}
.chitiet{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #041f21;
}
 