<div class="list-group" *ngIf="movie.name !='' && !isFetching">
    <div class="row" style="margin-bottom: 10px;padding:10px 10px; background-color: #06090b;border-radius:15px;">
        <div class="row">
            <div class="col-lg-3">
                <img src="{{ movie.imagePath }}" class="card-img-top" style="border-radius:5px">
            </div>
            <div class="col-lg-9" style="color: #3f4c57;">
                <p>{{ movie.year }}</p>
                <h1 style="font-weight: bold;">{{ movie.name }}</h1>
                <hr>
                <p>Thời lượng: {{ movie.duration }} phút</p>
                <p>{{ movie.description }}</p>
                <p>Quốc gia: {{ movie.nation }}</p>
                <p>Thể loại : {{movie.category}}</p>
                <button (click)="onEditMovie()" style="background-color: #1b3d69;border-radius: 5px;padding: 5px 10px;border:none;color: gainsboro;">CẬP NHẬT</button>
                <button (click)="onDeleteMovie()" style="background-color: #b93729;border-radius: 5px;padding: 5px 20px;border:none;color: gainsboro;margin-left: 10px;">XÓA</button>
            </div>
            <div align="center" style="margin-top:10px;margin-left:5px">
                <button (click)=" onCancel()" style="background-color: transparent;border-radius: 5px;padding: 3px 10px;border:1px solid #3f4c57;color: #3f4c57;margin-left: 10px;">ẩn</button>
            </div>
        </div>
    </div>
</div>
