@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #172027;
  font-size: 0.65em;
  top: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  padding: 0 5px;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  font-weight: bold;
}

.maincontent {
  position: relative;
  float: right;
  top: 70px;
  width: 78%;
}
.maincontent .container {
  float: right;
  height: 100%;
}

.menu{
    background-color: #0d1318;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    color: #354049;
}
.menu.active {
  background-color: #31d39a;
  color: black;
  border:2px solid #042325;
}