<a style="cursor: pointer;" [routerLink]="index" routerLinkActive="active" class="col-lg-4" style="padding: 15px;">
    <div style="background-color: #0e1c27;padding: 0px;border-radius:5px;border:1px solid black">
        <div class="row">
            <div class="col-lg-5">
                <img src="{{ movie.imagePath }}" class="card-img-top" style="border-radius: 5px;" height="220px">
            </div>
            <div class="col-lg-7" style="padding: 15px">
                <div style="padding-right: 10px;">
                    <h1 class="name"> {{ movie.name }} ({{ movie.year }}) </h1>
                    <p class="text"> Quốc gia: <b>{{ movie.nation }}</b></p>
                    <p class="text"> Thời lượng: <b>{{ movie.duration }} phút</b></p>
                    <p class="text"> Thể loại: <b>{{ movie.category }}</b></p>
                </div>
            </div>
        </div>
    </div>
</a>