.itemcategory{
    background-color: #1e2931;
    padding: 50px;
    border:1px solid transparent;
    padding-left: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;

}