<div style="padding: 20px;margin-top: 60px;">
    <h1 class="danhsach" align="center">DANH SÁCH PHIM</h1>
</div>

<div align="center" style="margin-bottom: 10px;" *ngIf="!show">
    <button (click)="show = !show" style="font-size: 12px ;font-weight: 600; color:#394854; border-radius:5px; padding:5px 30px;background-color:transparent; border:2px solid #394854; margin:0 5px;">hiển thị bộ lọc</button>
</div>
<div align="center" style="margin-bottom: 10px;" *ngIf="show">
    <button (click)="show = !show" style="font-size: 12px ;font-weight: 600;color:black; border-radius:5px; padding:5px 45px;background-color:#394854; border:2px solid black; margin:0 5px;">ẩn bộ lọc</button>
</div>

<div *ngIf="show"
    style="border-radius:5px;padding: 10px;padding-top: 20px;background-color: #090d11;margin: 15px;">
    <h3 align="center" style="font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 30px;color: #5d666e;">Thể loại</h3>
    <div Align="center">
        <button style="color:white; border-radius:5px; padding:5px 30px;background-color:#225559;
		border:2px solid black; margin:0 5px;">ANIME</button>
        <button style="color:white; border-radius:5px; padding:5px 30px;background-color:#225559;
		border:2px solid black; margin:0 5px;">HÀNH ĐỘNG</button>
        <button style="color:white; border-radius:5px; padding:5px 30px;background-color:#225559;
		border:2px solid black; margin:0 5px;">VIỄN TƯỞNG</button>
        <button style="color:white; border-radius:5px; padding:5px 30px;background-color:#225559;
		border:2px solid black; margin:0 5px;">KINH DỊ</button>
    </div>
</div>
<div>
    <app-movie-list></app-movie-list>
</div>
<router-outlet></router-outlet>